@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #c41f3e;
  --color-primary-light: #f8c9dc;
  --color-background-light: #ffffff;
  --color-background-alt: #fdf6f9;
  --color-background-dark: #211117;

  --font-display: "Public Sans", sans-serif;

  --radius-default: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

:root {
  --font-family: var(--font-display);
}

body {
  font-family: var(--font-display);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

.dark .glass-effect {
  background: rgba(33, 17, 23, 0.8);
}
